<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="works.Attendance"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8"
     android:targetSdkVersion="8" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:icon="@drawable/icons"
        android:label="@string/app_name"
        android:allowBackup="true"
        android:theme="@android:style/Theme.Black.NoTitleBar" >
        <activity
            android:label="@string/app_name"
            android:name="works.Attendance.AttendanceActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="Add" />
        <activity android:name="AddStudent"/>
        <activity android:name="Delete"/>
        <activity android:name="Take"/>
        <activity android:name="Take1"/>
        <activity android:name="Views"/>
        <activity android:name="Views1"/>
        <activity android:name="Edit"/>
        <activity android:name="Correction"/>
        <activity android:name="Analysis"/>
        <activity android:name="UpdateMain"/>
        <activity android:name="Help"/>
        
    </application>

</manifest>